@media only screen and (max-height: 840px) {
	.left-menu-browser-bro li .material-icons{
		font-size: 2.5rem !important;
		left: 10px !important;
		top: 30px !important; 
	}
}

@media only screen and (max-height: 803px) {
	.left-menu-browser-bro .bottom{
		display: none;
	}

	.browserWeb li{
		transform: scale(1);
	}
}

@media only screen and (min-width: 411px){
	.browsernani .watch-list .wath-app-list{
		width: 250px !important;
	}
}