body,html{
	background: #000 !important;
	overflow-x: hidden;
	overflow-y: hidden;
}

.splash{
	width: 100%;
	height: 100%;
	position: fixed;
	background-image: url("/img/default_bg.png");
	background-size: cover;
	webkit-transition: transform 0.27s cubic-bezier(0.05,0,0.3,1),opacity 0.2s;
    transition: transform 0.27s cubic-bezier(0.05,0,0.3,1),opacity 0.2s;
    z-index: 10000;
    transform: scale(1);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}